---
---
$header-bg-color: #69BF4A ;
$header-bg-color-secondary: #54c8e8;
@import "{{ site.theme }}";


.page-header {
    background-image: -webkit-gradient(linear,left top,right bottom,from(var(--tw-gradient-stops)));
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: #69bf4a;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(105,191,74,0));
    --tw-gradient-to: #54c8e8;
}
.btn {
    color: #ffffff;
    border-color: #ffffff;
}

.project-tagline {
    opacity: 1;
}